<md-dialog aria-label="Login">
    <form ng-cloak name="loginForm" novalidate>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Login</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
              <md-icon md-svg-src="assets/img/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <label for="username">Email:</label>
                    <input type="text" id="email"
                           ng-model="vm.credentials.email">
                </md-input-container>
                <md-input-container>
                    <label for="password">Password:</label>
                    <input type="password" id="password"
                           ng-model="vm.credentials.password">
                </md-input-container>
                <a ng-click="vm.signup()">Create an account</a>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button data-ng-click="vm.login(vm.credentials)">Login</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>