<div layout-align="space-between none" >
    <div layout="row" layout-align="space-between center">
        <h1>Publications</h1>
        <div>
            <md-button class="md-raised md-primary" href="/#/submit" ng-disabled="false" aria-label="submit a publication" md-no-ink="false" md-ripple-size="full">Submit Publication</md-button>
        </div>
    </div>
    <md-card data-ng-repeat="p in vm.pubs | orderBy:'-dateSubmitted'" layout="row">
        <div class="statscontainer" layout-padding layout-align="space-between center" layout="column">
            <div class="vote" layout-align="space-between center" layout="column">
                <div class="vote-count-post">{{p.numVotes}}</div>
                <div class="count">votes</div>
            </div>
            <div class="comments" layout-align="space-between center" layout="column">
                <div class="vote-count-post">{{p.numComments}}</div>
                <div class="count">comments</div>
            </div>
            <div class="views" layout-align="space-between center" layout="column">
                <div class="vote-count-post">{{p.numViews}}</div>
                <div class="count">views</div>
            </div>
        </div>
        <div>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"><a ng-href="#/review/{{p.id}}">{{p.title}}</a></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{p.summary}}</p>
            </md-card-content>
            <md-card-footer layout="row">
                <md-button data-ng-repeat="t in p.tags" class="md-raised md-accent">{{t}}</md-button>
            </md-card-footer>
        </div>
    </md-card>
</div>