<div id='form-container' class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-cell mdl-cell--12-col--desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="form mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Submit a Pain Point</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" ng-model="title" id='title'>
          <label class="mdl-textfield__label" for="title">Title</label>
        </div><br/>
        <div class="mdl-textfield mdl-js-textfield">
          <textarea class="mdl-textfield__input" type="text" rows= "3" ng-model="description" id='description'></textarea>
          <label class="mdl-textfield__label" for="description">Description</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>